# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
.idea

# Terraform
deployment/.terraform
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
deployment/artifacts
deployment/.terraform.lock.hcl
deployment/layers/*.zip

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Build Outputs
.next/
out/
build
dist
backend/lambdas/*/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
